<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    
    
        <link rel="shortcut icon" href="/images/favicon.ico">
    
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/css/main.css">

    
    







    
    
    
        <script>
  if (typeof MathJax === 'undefined') {
    window.MathJax = {
      loader: {
        
            load: ['[tex]/mhchem'],
        
        source: {
          '[tex]/amsCd': '[tex]/amscd',
          '[tex]/AMScd': '[tex]/amscd'
        }
      },
      tex: {
        inlineMath: {'[+]': [['$', '$']]},
        
            packages: {'[+]': ['mhchem']},
        
        tags: 'ams'
      },
      options: {
        renderActions: {
          findScript: [10, doc => {
            document.querySelectorAll('script[type^="math/tex"]').forEach(node => {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            });
          }, '', false],
          insertedScript: [200, () => {
            document.querySelectorAll('mjx-container').forEach(node => {
              let target = node.parentNode;
              if (target.nodeName.toLowerCase() === 'li') {
                target.parentNode.classList.add('has-jax');
              }
            });
          }, '', false]
        }
      }
    };
    (function () {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
      script.defer = true;
      document.head.appendChild(script);
    })();
  } else {
    MathJax.startup.document.state(0);
    MathJax.texReset();
    MathJax.typeset();
  }
</script>
          

    
    
    
    
    <title>
          
            baqianxin
        
    </title>
    
    
<meta name="generator" content="Hexo 5.4.0"></head>
<body>
    <div id="app">
        <v-app>
            <v-content id="page">
                <v-container fluid>
                    <v-row>
                        <v-col cols="2" class="d-none d-md-block">
                            <div id="sidebar" class="float-right">
    <a href="/" rel="home">
        <v-avatar size=96>
            <img id="logo" src="/images/avatar.webp">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="/">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="/categories/">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="/tags/">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        
            
            <v-list-item href="/archives/" link>
            <v-list-item-icon><v-icon>archive</v-icon></v-list-item-icon>
            <v-list-item-content>
                归档
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="/about/" link>
            <v-list-item-icon><v-icon>account_circle</v-icon></v-list-item-icon>
            <v-list-item-content>
                关于
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="https://garybear.cn/" link>
            <v-list-item-icon><v-icon>rss_feed</v-icon></v-list-item-icon>
            <v-list-item-content>
                我的博客
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="https://garybear.cn/hexo-theme-insulin/doc/#/" link>
            <v-list-item-icon><v-icon>insert_drive_file</v-icon></v-list-item-icon>
            <v-list-item-content>
                说明文档
            </v-list-item-content>
            </v-list-item>
        
    </v-list>
    <v-divider></v-divider>
    
        <v-list id="sub-menu" class="font-weight-medium" dense>
            
        </v-list>    
    

    <div id="footer">
        <div class="footer-social">
            
                
                <v-btn icon href="mailto:kb1000fx@gmail.com" target="_blank">
                    <v-icon>fas fa-envelope</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://github.com/kb1000fx" target="_blank">
                    <v-icon>fab fa-github</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://steamcommunity.com/profiles/76561198346798163" target="_blank">
                    <v-icon>fab fa-steam</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://weibo.com/kb1000fx" target="_blank">
                    <v-icon>fab fa-weibo</v-icon>
                </v-btn>
            
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    总访客量 <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            
            <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; 2015 - 2021 
                baqianxin
            </span>
        </div>
    </div>
</div>

                        </v-col>
                        <v-col cols="12" md="10">
                            <v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="/" rel="home">baqianxin</a>
      </div>
      <div id="site-description"></div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          
            
            <v-btn icon href="/archives/">
              <v-icon>archive</v-icon>
            </v-btn>
          
            
            <v-btn icon href="/about/">
              <v-icon>account_circle</v-icon>
            </v-btn>
          
            
            <v-btn icon href="https://garybear.cn/">
              <v-icon>rss_feed</v-icon>
            </v-btn>
          
            
            <v-btn icon href="https://garybear.cn/hexo-theme-insulin/doc/#/">
              <v-icon>insert_drive_file</v-icon>
            </v-btn>
          
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>

                            <v-card class="elevation-2 index-card">
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Linux-SSH-%E9%9A%A7%E9%81%93/ >Linux SSH 隧道</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/Linux-SSH-%E9%9A%A7%E9%81%93%E5%8A%9F%E8%83%BD/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/Linux-SSH-%E9%9A%A7%E9%81%93%E5%8A%9F%E8%83%BD/">Linux:SSH 隧道功能</a>
      </div>
      
      <div class="index-article-content">
        
          123456789101112131415161718# 检查代理服务器是否可以转发&#x2F;&#x2F; sshd 服务配置cat &#x2F;etc&#x2F;ssh&#x2F;sshd_config | grep AllowTcp&#x2F;&#x2F; 系统转发规则cat &#x2F;etc&#x2F;sysctl.conf | grep ip_forward&#x2F;&#x2F; 修改配置文件 修改sysctl -w net.ipv4.ip_forward&#x3D;1&#x2F;&#x2F; 检查运行时配置cat &#x2F;proc&#x2F;sys&#x2F;net&...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/Linux-SSH-%E9%9A%A7%E9%81%93%E5%8A%9F%E8%83%BD/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Golang-API-LimitRate/ >Golang API LimitRate</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/Go-Web%E6%8E%A5%E5%8F%A3%E5%AE%9E%E6%97%B6%E9%99%90%E6%B5%81/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/Go-Web%E6%8E%A5%E5%8F%A3%E5%AE%9E%E6%97%B6%E9%99%90%E6%B5%81/">Go:Web接口实时限流</a>
      </div>
      
      <div class="index-article-content">
        
          Golang 接口实时限流功能实现需求 对于同一IP，同一APP包名的请求，每小时只允许100次
方案逻辑 1.自定义限流中间件，对需要限流的接口做监听 
 2.使用指定参数生成唯一Key,记录请求频率
 3.若请求时间超过key的有效时间则重新计数（！是否触发惩罚操作，更新有效时间为2小时）
 4.复杂逻辑-结合业务数据限流-指定设备ID|指定…
代码12345678910111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/Go-Web%E6%8E%A5%E5%8F%A3%E5%AE%9E%E6%97%B6%E9%99%90%E6%B5%81/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/TensorFlow-Python/ >TensorFlow Python</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/TensorFlow-%E9%B8%A2%E5%B0%BE%E8%8A%B1%E5%93%81%E7%A7%8D%E5%88%86%E6%9E%90demo/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/TensorFlow-%E9%B8%A2%E5%B0%BE%E8%8A%B1%E5%93%81%E7%A7%8D%E5%88%86%E6%9E%90demo/">TensorFlow:鸢尾花品种分析demo</a>
      </div>
      
      <div class="index-article-content">
        
          运行效果
12345678910111213141516root@433ad0b9b2e7:&#x2F;usr&#x2F;src&#x2F;app# python train2.py Loss test: 1.3583741188049316Step: 0, Initial Loss: 1.3583741188049316Step: 1,         Loss: 1.2449184656143188Epoch 000: Loss: 1.061, Accuracy: 46.667%Epoch 050: Loss: 0.418, Accuracy: 82.500%Epoch 100: L...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/TensorFlow-%E9%B8%A2%E5%B0%BE%E8%8A%B1%E5%93%81%E7%A7%8D%E5%88%86%E6%9E%90demo/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/ELK-Nginx%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/ELK-Nginx%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95/">ELK:Nginx日志记录</a>
      </div>
      
      <div class="index-article-content">
        
          目的
目的：需要统计推广带来的转化效果
思路：通过统计 Nginx 日志，来分析不同渠道带来的访问量的变化。（可能再通过新增用户比去计算下转化率，不确定是不是需要这个值）

技术方案
修改 Nginx 日志格式为JSON ，通过 Qbus 收集 Nginx 的访问日志到消息队列。再使用 Logstash 同步到 ES 中；接着创建 Kibana 索引查询模板，筛选展示数据
Qbus
Elasticsearch
Kibana
Logstash
Nginx 日志



修改 Nginx 日志格式
日志格式修改 是为了 Logstash 同步方便，可以自动创建索引 mapping 。 在Hul...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/ELK-Nginx%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/Go-Web%E6%9C%8D%E5%8A%A1%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/Go-Web%E6%9C%8D%E5%8A%A1%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95/">Go:Web服务日志记录</a>
      </div>
      
      <div class="index-article-content">
        
          GoWeb 服务日志管理前情最新使用 Go 语言开发了一个滑动验证码 SDK 的服务端，提供的接口都具备基础功能了，但是业务逻辑日志以及请求日志没有一个好的记录方式，而且使用的容器服务，每次发布都会刷新容器，文件类的日志都会丢失。因此查了一下常见的Go  Log 处理方式。发现 logrus  包使用的人不少，感觉也很好使用毕竟带 hook （带钩子的都是工具人…）
目的
记录所有请求日志
记录业务逻辑关键信息
方便查询检索分析

实现细节
自定义日志服务中间件，
使用 ES 存储日志数据
过滤接口检查的调用日志
ES使用时间索引
handler路由使用中间件拦截记录请求日志Mux.Us...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/Go-Web%E6%9C%8D%E5%8A%A1%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/Docker-%E4%BD%BF%E7%94%A8gosu%E5%88%87%E6%8D%A2%E7%94%A8%E6%88%B7/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/Docker-%E4%BD%BF%E7%94%A8gosu%E5%88%87%E6%8D%A2%E7%94%A8%E6%88%B7/">Docker 使用gosu切换用户</a>
      </div>
      
      <div class="index-article-content">
        
          容器启动时切换用户gosu执行脚本问题想在小组内部推一下代码检查工具Sonar，申请了容器空间用于部署。在自己本地编译镜像之后推送到公司镜像源之后，发现拉取后启动容器失败了：检查输出日志
12345java.lang.RuntimeException: don&#x27;t run elasticsearch as root.        at org.elasticsearch.bootstrap.Bootstrap.initializeNatives(Bootstrap.java:94)        at org.elasticsearch.bootstrap.Bootstrap...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/Docker-%E4%BD%BF%E7%94%A8gosu%E5%88%87%E6%8D%A2%E7%94%A8%E6%88%B7/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/Sonar%E4%BB%A3%E7%A0%81%E6%A3%80%E6%9F%A5%E6%9C%8D%E5%8A%A1%E9%83%A8%E7%BD%B2/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/Sonar%E4%BB%A3%E7%A0%81%E6%A3%80%E6%9F%A5%E6%9C%8D%E5%8A%A1%E9%83%A8%E7%BD%B2/">Sonar代码检查服务部署</a>
      </div>
      
      <div class="index-article-content">
        
          SonarQube代码检查服务部署
前言： 小组内的代码检查服务 部署： Docker

[TOC]
服务构成
PostgreSQL
SonarQube

镜像SonarQube1234567891011121314151617181920FROM sonarqube:8.2-communityCOPY run.sh /opt/sonarqube/bin/USER rootRUN apt-get update &amp;&amp; apt install -y gosuUSER sonarqubeENTRYPOINT [&quot;/opt/sonarqube/bin/run.sh&qu...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/Sonar%E4%BB%A3%E7%A0%81%E6%A3%80%E6%9F%A5%E6%9C%8D%E5%8A%A1%E9%83%A8%E7%BD%B2/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/DNS-%E8%A7%A3%E6%9E%90keywords/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/DNS-%E8%A7%A3%E6%9E%90keywords/">DNS 解析keywords</a>
      </div>
      
      <div class="index-article-content">
        
          DNS 解析keywords12graph LRA(Client)--&gt;B(Local DNS)
12345Client --&gt; hosts文件 --&gt; DNS Service Local Cache --&gt; DNS Server (recursion递归查看本地配置的解析文件) --&gt; Server Cache --&gt; iteration(迭代) --&gt; 根 --&gt; 顶级域名DNS --&gt; 二级域名DNS…最终本地dns查看结果后返回给客户端


DNS 解析，若缓存命中就会直接返回缓存结果，不再进行递归DNS查询


缓存

DN...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/DNS-%E8%A7%A3%E6%9E%90keywords/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-15
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/09/15/Gitlab-CI-CD-%E9%9B%86%E6%88%90-SonarQube-%E6%89%AB%E6%8F%8F%E6%9C%8D%E5%8A%A1/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/15/Gitlab-CI-CD-%E9%9B%86%E6%88%90-SonarQube-%E6%89%AB%E6%8F%8F%E6%9C%8D%E5%8A%A1/">Gitlab CI/CD 集成 SonarQube 扫描服务</a>
      </div>
      
      <div class="index-article-content">
        
          Gitlab CI/CD 集成 SonarQube 扫描服务[TOC]
环境：Docker

gitlab
gitlab-runner
sonarqube
postgresql使用示例123456789101112131415# .gitlab-ci.ymlstages:  - sonar-scannersonar:  stage: sonar-scanner  script:    - sonar-scanner       -Dsonar.projectKey=cd_demo       -Dsonar.sources=.       -Dsonar.host.url=http://...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/15/Gitlab-CI-CD-%E9%9B%86%E6%88%90-SonarQube-%E6%89%AB%E6%8F%8F%E6%9C%8D%E5%8A%A1/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-06-18
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/2020/06/18/Python%E6%8A%93%E5%8F%96%E9%A1%B5%E9%9D%A2%E6%95%B0%E6%8D%AE%E5%88%86%E8%AF%8D%E7%BB%9F%E8%AE%A1%E5%B1%95%E7%A4%BA/">未分类></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/06/18/Python%E6%8A%93%E5%8F%96%E9%A1%B5%E9%9D%A2%E6%95%B0%E6%8D%AE%E5%88%86%E8%AF%8D%E7%BB%9F%E8%AE%A1%E5%B1%95%E7%A4%BA/">Python抓取页面数据分词统计展示</a>
      </div>
      
      <div class="index-article-content">
        
          Python抓取京东评论数据生成词云
前提:想抓取商品评论分析关键词出现频率


实现方案
打开京东SKU详情页面，查看评论，下一页（XHR 请求）找到评论数据接口
使用到的Python 组件：
requests,
jieba,
numpy,
pandas,
matplotlib,
PIL(Pillow)



细节步骤
评论接口地址拼接
返回数据为JSONP，字符串截取一下（可以自定义callback参数）
切分词
停用词
词组统计：wordData……agg(total=’count’)
数据保存：可以使用其他逻辑存档入数据库
词云图片生成、展示

小问题
请求数据接口频率额需要控制...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/06/18/Python%E6%8A%93%E5%8F%96%E9%A1%B5%E9%9D%A2%E6%95%B0%E6%8D%AE%E5%88%86%E8%AF%8D%E7%BB%9F%E8%AE%A1%E5%B1%95%E7%A4%BA/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
   
</v-card>  

         
                            <div id="mobile-footer" class="d-block d-md-none">
                                <v-divider></v-divider>
                                <div id="mobile-footer-content">
                                    <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a> &nbsp; Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
                                    <span> &copy; 2015 - 2021 baqianxin</span>
                                </div>
                            </div>                   
                        </v-col>                                            
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>

<script src="/js/main.js"></script>




    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>








</body>
</html>